.setUpContainer {
    width: 90%;
    border: 1px solid #E0E7EB;
    padding: 30px !important;
}

.activityCardContainer {
    width: 100%;
    margin-top: 10px !important;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.activityCard {
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    min-height: 100px !important;
    background: #F6F8F9;
    margin-top: 20px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.activityDeleteButtom {
    color: #E0E7EB;
    font-size: 10px;
    font-weight: 900 !important;
    transition: .5s ease-out 0s;
    width: 50px;
    padding-left: 10px;
}

.activityDeleteButtom:hover {
    color: #BF2600;
}

.meetingRoomCardNameInputContainer {
    width: 80% !important;
    margin: 28px 0 25px 25px;
}

.meetingRoomCardNameInput {
    border-bottom: 1px solid #E0E7EB;
    /* margin-top: 20px; */
}

.meetingRoomCardCapacityInputContainer {
    margin: 5px 25px 0 0;
    text-align: center;
}

.meetingRoomCardCapacityInput {
    background: #fff !important;
    height: 30px !important;
    width: 45px !important;
    min-width: 50px !important;
    max-width: 70px !important;
    border: 1px solid #E0E7EB;
    text-align: center !important;
    display: flex;
    justify-content: flex-end;
}

.meetingRoomCardCapacityInput:focus {
    border: 1px solid #85A0AD;
}

.capacityLabelClassName {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
}

.addActivitiesButton:hover {
    border: 1px solid #85A0AD !important;

}

.addActivitiesButton {
    border: 1px solid #E0E7EB !important;
    width: 100%;
    text-align: center;
    color: #85A0AD;
    font-size: 18px;
    font-weight: 900 !important;
    margin-top: 30px !important;
    height: 50px;
    transition: .5s ease-out 0s;

}

.available {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: fit-content;
    align-self: center;
}

.unavailable {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: fit-content;
    align-self: center;
}