.collapsableSection {
    width: 100%;
    min-height: 90px;
    background: #E0E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px !important;
    padding-right: 50px !important;
    margin-top: 15px !important;
    cursor: pointer;
}

.sectionTitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}


.activityCard {
    width: 100%;
    border: 1px solid #E0E7EB;
    height: max-content;
}

.pricingDeleteButton {
    color: #85A0AD;
    font-weight: 600 !important;
    transition: .5s ease-out 0s;
    margin-left: 10px;
}

.pricingDeleteButton:hover {
    color: #BF2600;

}

.activityDeleteButtom {
    color: #BF2600;
    font-size: 10px;
    font-weight: 300 !important;
    transition: .5s ease-out 0s;
    width: 20px;
    text-decoration: underline;
    position: relative;
    margin: 20px;
}

.meetingRoomCardNameInputContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.meetingRoomCardNameInputContainer>input {
    font-weight: 900 !important;
}

.meetingRoomCardNameInput {
    border-bottom: 1px solid transparent;
    font-size: 20px;
    font-weight: 900 !important;
    max-width: 250px;
}

.meetingRoomCardCapacityInput {
    background: #fff !important;
    height: 15px !important;
    width: 45px !important;
    min-width: 50px !important;
    max-width: 70px !important;
    border-bottom: 1px solid #E0E7EB;
    text-align: center !important;
    margin-top: 10px;
}

.meetingRoomCardCapacityInput:focus {
    border-bottom: 1px solid #85A0AD;
}

.pricingNameInput {
    background: #fff !important;
    height: 17px !important;
    border-bottom: 1px solid #E0E7EB;
    text-align: center !important;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0 !important;
    margin-top: 10px;
}

.capacityLabelClassName {
    color: #000;
    font-style: normal;
    font-size: 14px;
}


.available {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    align-self: center;
    width: 90px
}

.unavailable {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    align-self: center;
    width: 90px
}

.info {
    height: 11px;
    width: 11px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    justify-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.info:hover::after {
    content: attr(data-content);
    border-radius: 3px;
    background: #1f2c47;
    color: #fff;
    position: absolute;
    padding: 5px !important;
    top: -25px !important;
    left: -20px;
    min-height: 10px !important;
    min-width: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;
    z-index: 100;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
}

.pricingContainer {
    max-height: 100px !important;
    width: 34%;
}

.featureLogoContainer {
    position: relative;
    width: 100%;
    height: 100% !important;
}

.featureLogoContainer:hover .overlay {
    opacity: 1;
    background-color: #C2CFD6;
}

.featureLogoContainer:hover .editText {
    opacity: 1;
    background-color: #C2CFD6;
}


.logoContainer {
    position: relative;
    width: 100%;
    height: 40% !important;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    transition: opacity 0.3s ease;
    cursor: pointer;
}


.editText {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.logoContainer:hover .overlay {
    opacity: 1;
    background-color: #C2CFD6;
}

.logoContainer:hover .editText {
    opacity: 1;
    background-color: #C2CFD6;
}


.previewFeature {
    width: 100% !important;
    min-height: 250px !important;
    object-fit: cover;
}

.previewHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.preview {
    width: 100% !important;
    min-width: 300px;
    min-height: 350px !important;
    height: max-content;
    background: #F6F8F9;
    position: relative;
}

.preview::after {
    content: "Website preview";
    position: absolute;
    color: black;
    top: -15px !important;
    left: -2px;
    min-height: 10px !important;
    min-width: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;
    z-index: 100;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
}

.addPhoto {
    border: 1px solid #E0E7EB !important;
    width: 180px;
    height: 40px;
    margin: 10px 0 0 0 !important;
    text-align: center;
    color: #85A0AD;
    font-size: 18px;
    font-weight: 900 !important;
    transition: .5s ease-out 0s;
}

.addMeetingRoomButton {
    border: 1px solid #E0E7EB !important;
    width: 200px;
    margin: 5px 0 !important;
    height: 30px;
    text-align: center;
    color: #85A0AD;
    font-size: 18px;
    font-weight: 900 !important;
    transition: .5s ease-out 0s;

}

.addMeetingRoomButton:hover {
    border: 1px solid #85A0AD !important;
}

.seasonAvailContainer {
    margin-left: 20px;
}

.scheduleCard {
    min-width: 200px;
    width: 24%;
    margin-top: 10px !important;
    position: relative;
}

.scheduleForm {
    min-width: 340px;
}

.scheduleCheckboxContainer {
    font-size: 12px;
}

.buttonSpan {
    font-size: 12px;
    color: #3C7FD6;
    font-weight: 400;
    line-height: -1;
}

.spanClosed {
    margin-top: 2.5px !important;
    margin-left: 20px !important;
}

.bottomSpace {
    height: 1px !important;
    width: 1px;
    background: none !important;
    padding: 100px !important;
}

.timeInputContainer {
    height: 10px !important;
    position: absolute;
    top: 10px;
    left: -35px;
    display: flex;
    flex-direction: row !important;
    align-items: start;
    justify-content: start;
}

.timeInputTo {
    text-align: center;
    margin: 10px 5px;
}

.timeInput {
    font-size: 12px !important;
    font-weight: lighter;
    padding: 0;
}

.buttonApplyToAll {
    font-weight: 500;
    text-decoration: underline;
    color: #3C7FD6;
    margin-top: 45px !important;
}

.schedContainer {
    height: 50px;
    margin-bottom: 25px !important;
    position: relative !important;
}