.darkBackground {
    opacity: 0;
    min-width: 200vw !important;
    min-height: 200vh !important;
    z-index: 1 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.diagramCard {
    border: 1px solid #E0E7EB;
    width: calc(100% - 20px) !important;
    margin: 0 10px 15px 10px;
}

.deleteButton {
    color: #E0E7EB;
    font-size: 10px;
    font-weight: 900 !important;
    transition: .5s ease-out 0s;
    width: 20px;
    margin-right: 40px;
}

.deleteButton:hover {
    color: #BF2600;
}

.diagramStyleOptionsContainer {
    background: #F6F8F9 !important;
    border: 1px solid #85A0AD;
    position: absolute;
    left: 21.647%;
    top: -14.64px;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    z-index: 1;

}

.diagramStyleOption {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 2px;

}

.optionDiagramButton {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
    padding: 5px 10px;
    padding-bottom: 0 !important;
}

.diagramInputStyle {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.diagramInputStyle>input {
    max-width: min-content;
    width: 90px !important;
    outline: 0 !important;
    border: 0;
}

.capacityPlus {
    border: 1px solid #E0E7EB;
    margin-right: -1px;
    height: 30px;
    width: 30px;
    transition: .5s ease-out 0s;
    text-align: center;
}

.capacityPlus:hover {
    border: 1px solid #85A0AD;
    z-index: 1;
}

.capacityLabelClassName {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
}

.addMeetingRoomButton {
    border: 1px solid #E0E7EB !important;
    width: 90%;
    margin: 10px 5% 5px 5% !important;
    text-align: center;
    color: #85A0AD;
    font-size: 18px;
    font-weight: 900 !important;
    transition: .5s ease-out 0s;

}

.addMeetingRoomButton:hover {
    border: 1px solid #85A0AD !important;

}


.diagramCapacityInputContainer {
    max-width: 45px !important;
}

.diagramCapacityInput {
    background: #fff !important;
    height: 30px !important;
    width: 40px !important;
    border: 1px solid #E0E7EB;
    text-align: center !important;
}

.selectDiagramButton {
    min-width: 100px !important;
}

.diagramCapacityInput:focus {
    border: 1px solid #85A0AD;
}