/* LAYOUTS STYLE */

.main {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.content {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important;
}

.mainContent {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #F6F8F9;
    overflow-y: scroll;
}



/* LAYOUTS STYLE */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    width: 90%;
    height: 100% !important;

}



.headerContainer {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 55px !important;
}

.logo {
    margin: 23px !important;
    border-radius: 50%;
}

.logoContainer {
    position: relative;
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
}

.overlay {
    position: absolute;
    top: 100px;
    left: 23px;
    width: 150px;
    height: 37%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.editText {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}


.logoContainer:hover .overlay {
    opacity: 1;
    background-color: #C2CFD6;
}

.logoContainer:hover .editText {
    opacity: 1;
    background-color: #C2CFD6;
}


.campName {
    align-self: center;
}

.campNameInputStyle {
    width: 400px;
    margin-top: 10px !important;
}

.campNameInputStyle>input {
    outline: 0 !important;
    border: 0;
    font-size: 28px;
    font-weight: bold !important;
}

.stateText {
    font-size: 24px;
    font-weight: 300;
    margin-left: 5px;
}

.cardTitle {
    font-size: 20px;
    font-weight: 700;
}

.addressAndContactInfoContainer {
    width: 30%;
    margin-top: 30px !important;
    padding: 30px 25px !important;
}

.availabilityContainer {
    width: 30%;
    margin-top: 30px !important;
    padding: 30px 25px !important;
}

.general {
    width: 35%;
    margin-top: 30px !important;
    padding: 30px 25px !important;
}

.inputStyle {
    margin-top: 10px !important;
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px !important;
    padding: 30px 25px !important;
}

.scheduleCard {
    min-width: 200px;
    width: 24%;
    padding: 10px !important;
    margin-top: 40px !important;
    position: relative;
}

.scheduleForm {
    border: 1px solid #D8E189;
    padding: 20px !important;
}

.scheduleCardTitle {
    position: absolute;
    top: -24px !important;
    border: 1px solid #D8E189;
    border-bottom: 1px solid #fff !important;
    padding: 5px 10px !important;
    background: #FFF;

}

.scheduleCheckboxContainer {
    margin-top: 20px !important;
    font-size: 12px;
}

.buttonSpan {
    font-size: 12px;
    color: #3C7FD6;
    font-weight: 400;
    line-height: -1;
}

.spanClosed {
    margin-top: 2.5px !important;
    margin-left: 20px !important;
}

.bottomSpace {
    height: 1px !important;
    width: 1px;
    background: none !important;
    padding: 100px !important;
}

.timeInputContainer {
    height: 30px;
    position: absolute;
    top: 15px;
    left: -35px;
}

.timeInputTo {
    text-align: center;
    margin: 10px 5px;
}

.timeInput {
    font-size: 12px !important;
    font-weight: lighter;
}

.buttonApplyToAll {
    font-weight: 500;
    text-decoration: underline;
    color: #3C7FD6;
    margin-top: 50px !important;
}

.schedContainer {
    height: 50px;
    margin-bottom: 15px !important;
    position: relative !important;
}