.form {
    width: 250px;
}

.input {
    margin-bottom: 10px !important
}

.button {
    width: 100% !important;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    background: #3C7FD6;
}

.googleButton {
    width: 100% !important;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #000;
    background: #F8FAEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 15px;
    width: 15px;
    margin-right: 10px !important;
}


.form {
    height: 100vh
}

.row {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: underline;
    font-size: 12px;
}