/* LAYOUT STYLES */
.main {
    height: calc(100% - 70px) !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important;
}

.mainContent {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* LAYOUT STYLES */

.container {
    display: flex;
    flex-direction: row;
    height: 100% !important;
}

.calendarColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 !important;
    overflow-y: scroll;
    overflow: overlay;
}

.calendarContainer {
    width: 400px;
}

.retreatCenterCardContainer {
    margin-top: 50px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.retreatCenterCard {
    margin: 20px 30px !important
}

.campLogo {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover !important;
}

.detailsContainer {
    margin: 4px 8px !important;
    max-width: 290px;
}

.groupName {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.distanceFrom {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.capacity {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.capacityDanger {
    color: red;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.amenities {
    overflow-x: visible;
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.amenityLogo {
    margin-right: 15px !important;

}

.bedsContainer {
    margin-top: 10px !important;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.bedText {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100px;
}