.input {
    background: transparent;
    width: 100% !important;
    font-size: 16px;
    font-weight: normal;
    padding: 0 5px;
    border: 1px solid #85A0AD;
    outline: none;
    height: 30px;
    cursor: pointer;
}

.container {
    position: relative;
    margin: 0;
    padding: 0;
}