.leadCard {
    border-radius: 5px;
    min-height: 100px;
    min-width: 190px;
    margin: 20px 5px 15px 15px !important;
    padding: 10px !important;
    position: relative;
}

.leadGroupNameContainer {}

.leadGroupName {
    font-size: 14px;
    font-weight: 700 !important;
    border-bottom: 1px solid transparent;
}

.inputField {
    border-bottom: 1px solid transparent;
}

/* .tooltip:hover::after {
    content: attr(data-content);
    border-radius: 3px;
    background: #1f2c47;
    color: #fff;
    position: absolute;
    padding: 5px 10px !important;
    top: -30px !important;
    min-height: 10px !important;
    min-width: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
    font-weight: 400;
    z-index: 1;
} */