.leadCard {
    border-radius: 5px;
    min-height: 100px;
    min-width: 190px;
    margin: 10px 5px 10px 10px !important;
    padding: 10px !important;
}

.leadGroupNameContainer {}

.leadGroupName {
    font-size: 14px;
    font-weight: 700 !important;
    border-bottom: 1px solid transparent;
}

.inputField {
    border-bottom: 1px solid transparent;
}