.darkBackground {
    background-color: #000;
    opacity: .9;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 1 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2 !important;
}

.modal {
    width: 600px !important;
    min-height: 600px !important;
    padding: 20px !important;
    background: #fff;
    opacity: 1;
    color: #000;
    position: relative;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    height: 100%;
}

.tabContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px !important;
    height: 100%;
}

.tab {
    color: var(--gray-100, #999);
    /* Medium - 16 */
    font-size: 16px;
    font-weight: normal;
}

.activeTab {
    font-size: 16px;
    font-weight: bold;
    padding: 2px 0px !important;
}

.progressbarContainer {
    height: 200px;
    width: 200px;
    margin: 10px auto !important;
}

.container {}

.setUpContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.collapsableSection {
    width: 100%;
    min-height: 90px;
    height: 90px;
    background: #E0E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin-top: 15px !important;
}

.meetingRoomContainer {
    width: 100%;
    border: 1px solid #E0E7EB;
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.roomButton {
    width: 25% !important;
    margin: 10px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.occupied {
    height: 10px;
    width: 10px;
    outline: 2px solid #D8E189;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 5px;
    background: #000;
}

.occupiedText {
    color: #000;
}

.vacant {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: #43B166;
}

.vacantText {
    color: #43B166;
}

.unavailable {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: #C2CFD6;
}

.unavailableText {
    color: #C2CFD6;
}

.legendContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}