.topNav {
  background: #3c7fd6;
  width: 100%;
  height: 70px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.ccLogo {
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5px auto !important;
  align-self: center;
}


.logoContainer {
  min-width: 300px !important;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.logoTextContainer {
  min-width: 300px !important;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 50px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #d8e189;
  text-shadow: 0px 2px 2px 0px rgb(141, 102, 102) !important;
  padding: 15px 0px !important;
  min-width: 300px !important;
}

.companyLogo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  object-fit: cover;
  margin-left: 40px !important;
}

.profileButton {
  /* width: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px !important;
}

.userIcon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.userDetails {
  margin-top: 8px !important;
  margin-left: 10px !important;
}

.navButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px) !important;
}

.sideNav {
  border-right: 1px solid var(--cascade-300, #c2cfd6);
  width: 50px !important;
  min-width: 50px !important;
}

.sideNav:hover {
  /* width: 150px; */
  width: 200px !important;
  min-width: 200px !important;
}

.sideNav:hover .navText {
  display: unset;
}

.sideNav:hover .navTextActive {
  display: unset;
}

.navText {
  display: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px !important;
}

.navTextActive {
  display: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px !important;
}

.sideNavButtons {
  margin-top: 29px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
}

.buttonActive {
  margin-top: 20px !important;
  padding: 10px 0 !important;
  padding-left: 15px !important;
  background-color: #81ace4 !important;
  border-right: 3px solid var(--dodger-blue-500, #3c7fd6);
  width: 100%;
  min-width: calc(100% + 2px) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.button {
  margin-top: 20px !important;
  padding: 10px 0 !important;
  padding-left: 14.5px !important;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.settingsButton {
  margin-bottom: 20px !important;
  align-items: center !important;
  align-self: center !important;
  padding: 10px 0 !important;
  padding-left: 13.5px !important;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.settingsButtonActive {
  margin-bottom: 20px !important;
  align-items: center !important;
  align-self: center !important;
  padding: 10px 0 !important;
  padding-left: 13px !important;
  background-color: #81ace4 !important;
  border-right: 3px solid var(--dodger-blue-500, #3c7fd6);
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.addRetreatCenterButton {
  border: 1px solid #E0E7EB !important;
  width: 90%;
  margin: 10px 5% 5px 5% !important;
  text-align: center;
  color: #85A0AD;
  font-size: 18px;
  font-weight: 900 !important;
  margin-top: 30px !important;
  height: 50px;
  transition: .5s ease-out 0s;
}


.addRetreatCenterButton:hover {
  border: 1px solid #85A0AD !important;

}

.campOptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  text-align: end;
}

.campOptionImage {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.retreatCentersContainer {
  position: absolute;
  min-height: 100px;
  min-width: 210px;
  background: #F6F8F9;
  cursor: pointer;
  top: 70px;
  left: 50px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}