.calendarScroll {
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    display: flex;
}

.calendarHeaderText0 {
    width: 100% !important;
}

.calendarHeader {
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px !important;
}


.calendarHeaderText {
    color: var(--gray-200, #878787);
    font-size: 130%;
    font-weight: 900
}

.calendarWeek {
    display: flex;
    flex-direction: row;
}

.calendarDate {}


.calendarWeekRange {
    width: 100% !important;
    min-width: 50px;
    max-width: 100px;
    margin-right: 10px !important;
}

.calendarWeekRangeText {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    text-align: right;
    white-space: nowrap !important;
}

.calendarDay {
    width: 100% !important;
    height: 1px !important;
    overflow-x: visible;
    margin: auto 0px !important;
}

.booked {
    background-image: linear-gradient(270deg, #0C581B 0%, #149237 25.91%, #43B166 51.04%, #75CC94 76.43%, #ACE3C2 100%);
    background-attachment: fixed;
    width: 100% !important;
    height: 10px !important;
    overflow-x: visible;
    margin: auto 0px !important;
    cursor: pointer;

}

.reserved {
    background-image: linear-gradient(270deg, #FFAB00 0%, #FFB31A 26.04%, #FFC639 51.04%, #FFEEAC 75.52%, #FFEEAC 100%);
    background-attachment: fixed;
    width: 100% !important;
    height: 10px !important;
    overflow-x: visible;
    margin: auto 0px !important;
    cursor: pointer;
}

.scheduledTail {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.scheduledHead {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.vacant {
    height: 100% !important;
    min-height: 30px;
    margin: auto 0 !important;
    display: flex;
    width: 100% !important;
}


.vacantLine {
    height: 1px;
    width: 100% !important;
    background-color: #D9D9D9;
    align-self: center !important;
}