.calendarScroll {
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    display: flex;
}

.calendarHeaderText0 {
    width: 100% !important;
}

.calendarHeader {
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px !important;
}


.calendarHeaderText {
    color: var(--gray-200, #878787);
    font-size: 130%;
    font-weight: 900
}

.calendarWeek {
    display: flex;
    flex-direction: row;
}

.calendarDate {}


.calendarWeekRange {
    width: 100% !important;
    min-width: 50px;
    max-width: 100px;
    margin-right: 10px !important;
}

.noSideBorder {
    border-left: none !important;
    border-right: none !important;
}

.calendarWeekRangeText {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    text-align: right;
    white-space: nowrap !important;
}

.calendarDay {
    width: 100% !important;
    height: 1px !important;
    overflow-x: visible;
    margin: auto 0px !important;
}

.occupied {

    width: 100% !important;
    height: 15px !important;
    overflow-x: visible;
    margin: auto 0px !important;
    cursor: grab;
    position: relative;
}

.occupied:hover::after {
    content: attr(data-content);
    border-radius: 3px;
    background: #1f2c47;
    color: #fff;
    position: absolute;
    padding: 5px 10px !important;
    top: -30px !important;
    min-height: 10px !important;
    min-width: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
    font-weight: 400;
}

.occupiedTail {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.occupiedHead {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}


.vacant {
    height: 100% !important;
    min-height: 30px;
    margin: auto 0 !important;
    display: flex;
    width: 100% !important;
}


.vacantLine {
    height: 1px;
    width: 100% !important;
    background-color: #D9D9D9;
    align-self: center !important;
}

#draggable {
    cursor: grab;
}

#draggable:active {
    border-radius: 5px !important;
    background: #fff !important;
    position: absolute;
    padding: 10px !important;
    height: 100px !important;
    width: 190px !important;
    transform: translate(-25%, -75%);
}