.input {
    width: 100% !important;
    font-weight: normal !important;
}

.disabledInput {
    width: 100% !important;
    font-weight: normal !important;
    background: #E6E6E6;
    cursor: not-allowed;
}

.bottomLabel {
    line-height: 0 !important;
}

.container{
    position: relative;
}