/* LAYOUTS STYLE */

.main {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important;
}

.mainContent {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* LAYOUT STYLES */
.heading {
    width: 100%;
    border-bottom: 1px solid #C2CFD6;
    height: 50px;
    display: flex;
}

.overviewTitle {
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px !important;
    border-bottom: 2px solid var(--dodger-blue-500, #C2CFD6);
    align-self: flex-end !important;
}



.container {
    height: 100% !important;
}

.progressbarsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

.progressbarContainer {
    height: 90px;
    width: 90px;
}

.mainRow {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: calc(100% - 50px) !important;
}

.calendarContainer {
    width: 600px !important;
}

.prevCalendarContainer {
    width: 300px;
}

.nextCalendarContainer {
    width: 300px;
}

.calendarColumn {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 100px !important;
    flex: 1;
    overflow-y: scroll;
    height: calc(100% - 50px) !important;
}

.monthTitle {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.divider {
    width: 700px !important
}

.groups {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin: 100px 100px 0 0 !important;
    overflow-y: scroll;
    max-height: 600px;
}

.groupCard {
    padding: 10px 20px !important;
    border-radius: 5px;
    margin-bottom: 10px !important;
}

.groupCard h3 {
    color: #fff;
}