/* LAYOUTS STYLE */

.main {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  flex-grow: 1 !important;
}

.mainContent {
  width: 100% !important;
  height: 100% !important;
}

.sideNav {
  border-right: 1px solid var(--cascade-300, #c2cfd6);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 45px;
}

.sideNavButtons {
  margin-top: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
}

/* LAYOUT STYLES */
.heading {
  width: 100%;
  border-bottom: 1px solid #c2cfd6;
  height: 50px;
  display: flex;
}

.overviewTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px !important;
  border-bottom: 2px solid var(--dodger-blue-500, #c2cfd6);
  align-self: flex-end !important;
}

.groupsHeading {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px !important;
}

.groupsTitle {
  font-size: 20px;
  font-weight: 500;
  align-self: start !important;
}

.container {
  height: 100% !important;
}

.progressbarsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px !important;
}

.bottomProgressbarContainer {
  height: 50px;
  width: 50px;
  margin-right: 10px !important;
}

.progressbarContainer {
  height: 90px;
  width: 90px;
  margin-right: 10px !important;
}

.leadscolumn {
  width: 200px;
  border-right: 1px solid var(--cascade-300, #c2cfd6);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-between;
}

.bottomMonthTitle {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progressText {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 15px !important;
}

.bottomProgressText {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 5px !important;
}

.mainRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  max-width: 1600px !important;
  height: calc(100% - 50px) !important;
}

.calendarContainer {
  margin: 50px auto !important;
  width: 850px !important;
}

.prevCalendarContainer {
  width: 400px;
}

.nextCalendarContainer {
  width: 400px;
}

.calendarColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin: 20px 0px !important;
}

.divider {
  width: 800px !important;
  height: 2px;
  border-radius: 100%;
  margin-bottom: 50px !important;
}

.dividerVert {
  height: 250px !important;
  width: 2px;
  border-radius: 100%;
  margin: 0 20px !important;
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  align-content: center !important;
  justify-items: center !important;
  overflow-y: scroll;
  height: calc(100%) !important;
}

.groupCard {
  padding: 10px 20px !important;
  border-radius: 5px;
  margin: 10px !important;
  width: 100%;
  text-align: center;
}

.groupCard h3 {
  color: #fff;
  font-weight: 900;
  font-weight: bolder;
}
