/* LAYOUT STYLES */
.content {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important;
}

.main {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 100% !important;
    height: 100% !important;
}

/* LAYOUT STYLES */

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    height: 100% !important;
    flex-grow: 1 !important;
}

.calendarColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: 10px 0 !important;
}

.calendarContainer {
    width: 400px;
}

.retreatCenterCardContainer {
    margin-top: 50px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-flow: wrap;
    justify-content: center;
}

.retreatCenterCard {
    margin: 0 30px !important
}