.container {
  width: 100%;
  padding: 3% 0;
  background-color: #f6f8f9;
}

.content {
  display: flex !important;
  flex-direction: row !important;
  height: 100% !important;
}

.main {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.mainContent {
  width: 100% !important;
  height: 100% !important;
}

.topNav {
  background: #d8e189;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0);
  padding: 23px 15px !important;
}

.userIcon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid var(--black-400, #333);
  margin-top: 8px !important;
}

.userDetails {
  margin-top: 8px !important;
  margin-left: 10px !important;
}

.profileButton {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px !important;
  margin-right: 40px !important;
}

.sideNav {
  border-right: 1px solid var(--cascade-300, #c2cfd6);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 45px;
}

.sideNavButtons {
  margin-top: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
}

.buttonActive {
  margin-top: 20px !important;
  padding: 10px 0 !important;
  background-color: #81ace4;
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.button {
  margin-top: 20px !important;
  padding: 10px 0 !important;
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.settingsButton {
  margin-bottom: 20px !important;
  align-items: center !important;
  align-self: center !important;
}
.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.userdetails {
  width: 850px;
  height: 650px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
}

.userdetails .profileImage {
  width: 100%;
  height: 187px;
  background: linear-gradient(270deg, #a0616a 0%, #ffb6b6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

.profileImage img {
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  width: 180px;
  height: 180px;
  top: 50%;
  left: 7%;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.details {
  margin: 100px 0 0 65px;
}

.details h3 {
  font-size: 32px;
  font-weight: 600;
}

.details address {
  margin: 7px 0 7px 0;
}

.dot {
  background: #f6f8f9;
  border: 2px solid #111827;
}

.select {
  margin-top: 40px;
  width: 170px;
  padding: 8px 12px;
  background: #f6f8f9;
  border: none;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.editdot {
  position: absolute;
  right: 25px;
  bottom: -60px;
}

.campteams {
  width: 330px;
  height: 650px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 18px;
  position: relative;
}

.campteams div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewMore {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 600;
}

.campteams h3 {
  font-size: 20px;
  font-weight: 700;
}

.campgroup {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campdetails {
  width: 100%;
  gap: 2px;
  margin: 12px 0;
}

.campdetails h3 {
  font-size: 20px;
  font-weight: 700;
}

.campdetails img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.campdetails .userteam {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userteam span {
  font-weight: 400;
  font-size: 13px;
}

.docContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs {
  width: 87%;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 30px;
  padding: 2%;
}

.uploaded {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 15px;
  margin-top: 30px;
}

.uploadedDoc {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  padding: 8px 20px;
  justify-content: space-between;
  width: 300px;
}

.uploadedDoc img {
  width: 30px;
  height: 30px;
}
