/* LAYOUT STYLES */
.main {
  height: calc(100% - 70px) !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex !important;
  flex-direction: row !important;
  height: 100% !important;
}

.mainContent {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* LAYOUT STYLES */

.container {
  display: flex;
  flex-direction: row;
  height: 100% !important;
}

.heading {
  width: 100%;
  border-bottom: 1px solid #c2cfd6;
  height: 50px;
  display: flex;
}

.overviewTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px !important;
  border-bottom: 1px solid var(--dodger-blue-500, #c2cfd6);
  align-self: flex-end !important;
}

.groupsHeading {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px !important;
}

.groupsTitle {
  font-size: 20px;
  font-weight: 500;
  align-self: start !important;
}


.progressbarsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px !important;
}

.bottomProgressbarContainer {
  height: 50px;
  width: 50px;
  margin-right: 10px !important;
}

.progressbarContainer {
  height: 90px;
  width: 90px;
  margin-right: 10px !important;
}

.monthTitle {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bottomMonthTitle {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progressText {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 15px !important;
}

.bottomProgressText {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 5px !important;
}

.calendarContainer {
  margin: 50px auto !important;
  width: 850px !important;
}

.prevCalendarContainer {
  width: 400px;
}

.nextCalendarContainer {
  width: 400px;
  margin-right: 50px;
}

.calendarColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow: visible !important;
  margin: 20px 0px !important;
}

.divider {
  width: 800px !important;
  height: 2px;
  border-radius: 100%;
  margin-bottom: 50px !important;
  background-color: #eee;
}

.dividerVert {
  height: 250px !important;
  width: 2px;
  border-radius: 100%;
  background-color: #eee;
  margin: 0 20px !important;
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  align-content: center !important;
  justify-items: center !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100%) !important;
  min-width: 210px;
}

.groupCard {
  padding: 10px 20px !important;
  border-radius: 5px;
  margin: 10px !important;
  width: 100%;
  text-align: center;
}

.groupCard h3 {
  color: #fff;
  font-weight: 900;
  font-weight: bolder;
}

.largCalendar {
  width: 400px;
  margin: 130px 50px;
  display: none;
}

.divLarge {
  display: none;
}

@media screen and (min-width: 1700px) {
  .largCalendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .largCalendar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #000;
    margin-right: 10px;
  }

  .divLarge {
    display: flex;
    align-items: center;
    height: 900px;
    width: 3px;
  }

  .horizontalLine {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 30px;
  }

  .largeRow {
    margin-left: 50px;
  }

  .divider {
    width: 1325px !important;
  }
}