/* LAYOUT STYLES */
.main {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex !important;
  flex-direction: row !important;
  height: 100% !important;
}

.mainContent {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* LAYOUT STYLES */

.container {
  display: flex;
  flex-direction: row;
  height: 100% !important;
}

.calendarColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px !important;
  width: 70%;
  overflow-y: scroll;
  overflow-x: overlay !important;
  z-index: 0;
}

.heading {
  width: 100%;
  border-bottom: 1px solid #c2cfd6;
  height: 50px;
  display: flex;
}

.overviewTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px !important;
  border-bottom: 1px solid var(--dodger-blue-500, #c2cfd6);
  align-self: flex-end !important;
}

.groupsHeading {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px !important;
}

.groupsTitle {
  font-size: 20px;
  font-weight: 700;
  align-self: start !important;
}


.progressbarsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px !important;
}

.bottomProgressbarContainer {
  height: 50px;
  width: 50px;
  margin-right: 10px !important;
}

.progressbarContainer {
  height: 90px;
  width: 90px;
  margin-right: 10px !important;
}

.monthTitle {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bottomMonthTitle {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progressText {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 15px !important;
}

.bottomProgressText {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 5px !important;
}

.calendarContainer {
  margin: 50px auto 0 auto !important;
  width: 100% !important;
  overflow-x: visible !important;
}

.bottomCalendarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: overlay !important;
}

.prevCalendarContainer {
  width: 50%;
  overflow-x: visible !important;
}

.nextCalendarContainer {
  width: 50%;
  overflow-x: visible !important;
}

.divider {
  min-width: 800px;
  height: 6px !important;
  border-radius: 100%;
  background-color: #eee;
  margin: 25px 0 50px 0
}

.dividerVert {
  height: 250px !important;
  width: 2px;
  border-radius: 100%;
  background-color: #eee;
  margin: 0 20px !important;
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  align-content: center !important;
  justify-items: center !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100% !important;
  min-width: 100px;
  margin: 20px 10px;

}

.groupCard {
  padding: 10px 20px !important;
  border-radius: 5px;
  margin: 10px !important;
  width: 50%;
  min-width: 100px;
  text-align: center;
}

.groupCard h3 {
  color: #fff;
  font-weight: 900;
  font-weight: bolder;
}

.largCalendar {
  width: 400px;
  margin: 130px 50px;
  display: none;
}

.divLarge {
  display: none;
}

.groupleadsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  width: 100%;
}